/* --Start-global-- */
@font-face {
  font-family: poppins-regular;
  src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: poppins-bold;
  src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: poppins-medium;
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: semi-bold;
  src: url(../fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppins-italic;
  src: url(../fonts/Poppins-BoldItalic.ttf);
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-primary: #BB9041;
  --color-primary-bg: linear-gradient(#E5CC6B, #DEC264, #C09646 );
  --color-white: #ffffff;
  --color-black: #000000;
  --color-btn: rgb(255, 255, 255);
  --color-link: #008dd2;
  --color-hover: #f5a425;
  --color-success:#00A651;
  --box-shadow:5px 6px 24px #d9d9d980;
  --box-shadow-dark:4px 4px 22px #45454549;
  --border-radius:20px;
}
:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: poppins-regular;
  line-height: 1.6 !important;
}
section {
  padding: 7rem 0;
}
.section-adjustment-padding {
  padding: 5.25rem 0 1.8rem;
}
a {
  text-decoration: none;
  color: var(--color-white);
  cursor: pointer;
}
a:hover {
  color: var(--color-hover) !important;
}
ul li a:hover {
  color: var(--color-hover) !important;
}

.left-border {
  position: relative;
  padding-left: 2.5rem;
  padding-top: 1rem;
}
.left-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--color-primary);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  z-index: 1;
}
.bottom-border {
position: relative;
padding-left: 1.5rem;
padding-top: .4rem;
}
.bottom-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3rem;
  height: 3rem;
  border: 3px solid var(--color-primary);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  z-index: 1;
}
h1 {
  font-size: 5.3rem;
  font-family: poppins-bold;
}

h3 {
  font-size: 2.3rem;
  font-family: semi-bold;
  margin: 2rem 0;
}
h2,
.section-header h3 {
  font-size: 3.8rem;
  font-family: poppins-bold;
  margin-top: unset;
  margin-bottom: 3rem;
  line-height: 1.2;
  position: relative;
  z-index: 4;
}
h4 {
  font-size: 2.6rem;
}
h5 {
  font-size: 1.6rem;
}
p {
  font-size: 1.5rem;
  font-family: poppins-regular;
  line-height: 1.5;
  /* color: #242222; */
}
.section-header p {
  font-size: 2.8rem;
  line-height: 1.4;
  font-family: semi-bold;
  color: #000000;
  max-width: 62rem;
}
small {
  font-size: 1.2rem;
}
strong {
  color: rgb(230, 115, 1);
}
img {
  max-width: 100%;
  object-fit: cover;
}
input {
  /* width: 100%; */
  outline: none;
  border: none;
  font-family: poppins-regular;
  font-size: 1.6rem;
}
input::placeholder {
  font-size: 1.5rem;
  color: #292929;
  font-family: poppins-regular;
}
input[type="text"]:focus,
textarea:focus {
  outline: 0;
}
.btn {
  background: var(--color-primary);
  color: var(--color-white);
  font-size: 1.5rem;
  font-family: semi-bold;
  padding: 1.5rem 3rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
}
.btn:hover {
  background: var(--color-white);
  color: var(--color-black);
  border:1px solid;
}
p.section-para {
  margin-bottom: 2rem;
  line-height: 1.7;
}

/* --End-global-- */

/* --Start-Header-top-- */
.header-top-container {
  border-bottom: 0.3rem solid var(--color-primary);
}
.header-top {
  height: 5rem;
  position: relative;
  z-index: 10;
}
.header-top a {
  font-family: semi-bold;
}
.header-top a,
.header-top i {
  font-size: 1.4rem;
}
/* --End-Header-top-- */

/* --Start-Navigation-Menu-- */
.nav-header-area {
  background-color: rgba(250, 250, 250, 0.15);
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  min-height: 80px;
}
.navbar-toggler {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  line-height: 1;
  background-color: #ffffff;
  border: 1px solid #ffffff00;
  border-radius: 0.25rem;
  pointer-events: all !important;
  transition: box-shadow 0.15s ease-in-out 0s;
}
.navbar-toggler-icon {
  width: 1.8em;
  height: 1.8em;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: #f5a425;
}
.navbar-light .navbar-nav .nav-link {
  color: var(--color-white);
}
.gt_hdr3_navigation ul li {
  width: auto;
  position: relative;
}
.gt_hdr3_navigation ul ul {
  width: 250px;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 100;
  transform-origin: 0 0 0;
  -webkit-transform-origin: 0 0 0;
  -moz-transform-origin: 0 0 0;
  transform: perspective(600px) rotateX(-90deg);
  -webkit-transform: perspective(600px) rotateX(-90deg);
  -moz-transform: perspective(600px) rotateX(-90deg);
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  box-shadow: 0 2px 28px 0 rgb(0 0 0 / 6%);
}
.gt_hdr3_navigation ul ul li a {
  color: var(--color-black);
  opacity: 1;
  display: block;
  background: #f7f7f7;
  padding-left: 20px;
  height: 40px;
  line-height: 40px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  font-size: 13px;
  font-family: poppins-medium;
  border-bottom: 1px solid #eee;
}
.gt_hdr3_navigation ul ul li a.active {
  color:var(--color-hover) ;
}
.gt_hdr3_navigation ul > li:hover > ul {
  -moz-transform: perspective(600px) rotateX(0deg);
  -webkit-transform: perspective(600px) rotateX(0deg);
  transform: perspective(600px) rotateX(0deg);
  opacity: 1;
  visibility: visible;
}
.networks-list .active {
  color: var(--color-hover);
}
/* --End-Navigation-Menu-- */

/* --Start-Banner-section-- */
.banner {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  margin-bottom: -7px;
  background: url(../../images/michael-dziedzic-aQYgUYwnCsM-unsplash.jpg) no-repeat center/cover;
}
.banner-overlay {
  position: absolute;
  background-color: rgba(31, 39, 43, 0.914);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.banner-overlay .caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-white);
}
.banner-overlay .caption .author-name {
  font-size: 2.5rem;
  font-family: poppins-medium;
}
.banner-overlay .caption p {
  font-size: 1.6rem;
  max-width: 640px;
}
.banner-overlay .scroll-down {
  width: 5rem;
  height: 5rem;
  background:var(--color-white);
  position: absolute;
  bottom: 20rem;
  left: 50%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
/* --End-Banner-section-- */

.owl-nav .owl-prev {
  position: absolute;
  left: -4rem;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  background: var(--color-btn) !important;
  padding: 2rem !important;
  height: 5rem;
  width: 5rem;
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  color: black !important;
  box-shadow: var(--box-shadow-dark);
}
.owl-nav .owl-next {
  position: absolute;
  right: -4rem;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  background: var(--color-btn) !important;
  padding: 2rem !important;
  height: 5rem;
  width: 5rem;
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  color: black !important;
  box-shadow: var(--box-shadow-dark);
}

/* --Start-service-section-- */
#services {
  margin-top: -189px;
  position: absolute;
  width: 100%;
  color: var(--color-white);
  /* background: #100E0D; */
}
.service-content {
  background: var(--color-primary);
  text-align: center;
  padding: 3rem;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
#services img {
  width: 4.2rem;
}
#services h5 {
  margin: 1.5rem 0;
  font-size: 2rem;
  font-family: semi-bold;
}
#services p {
  font-size: 1.4rem;
  max-width: 26rem;
  width: 100%;
}
#ourSponsors {
  background: #0E0D0C;
  color: var(--color-white);
}
#ourSponsors .section-header p {
  color: var(--color-white);
}
.single-service {
  border: 1px solid #232323;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  padding: 1rem 1.5rem;
  position: relative;
  margin-bottom: 2rem;
  transition: all .5s ease-out 0s;
  width: 100%;
}
#service-carousel .owl-nav .owl-prev {
  left: -6rem;
}
#service-carousel .owl-nav .owl-next {
  right: -6rem;
}
.single-service span {
  -webkit-text-stroke: 2px hsla(0, 0%, 100%, .07);
  -webkit-text-fill-color: transparent;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: all .5s ease-out 0s;
}.service-icon {
  /* margin-top: 15px; */
  min-width: 70px;
}.service-icon i {
  background-color: var(--color-hover);
  border-radius: 50%;
  display: inline-block;
  height: 58px;
  line-height: 58px;
  position: relative;
  text-align: center;
  width: 58px;
  z-index: 1;
}.service-content2 {
  margin-left: 15px;
}.service-content2 p {
  color: #e4e4e4;
  font-size: 1.4rem;
  margin-bottom: 20px;
}
#ourSponsors h3 {
  font-size: 1.8rem;
}
.service-content2 h4 {
  color: #e4e4e4;
  font-size: 1.6rem;
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: semi-bold;
}
/* --End-service-section-- */

/* --Start-about-section-- */
#about {
  padding-top: 173.5px;
  background-image: #D90A2C;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-img-container {
 margin-top: -10rem;
}
/* --Start-about-section-- */

#contact h4 {
  font-size: 2rem;
  font-family: semi-bold;
}
/* --Start-ourSponsors-section-- */

/* --End-ourSponsors-section-- */

/* --End-Footer-section-- */
footer {
  background: #1B1C1F;
  color: var(--color-white);
}
.footer-top {
  border-bottom: 1px solid #c4c4c4;
  padding: 5.5rem 0 2rem;
}
.footer-top .row > div {
  padding: 3rem 0;
}
footer h4 {
  font-size: 2.2rem;
  font-family: semi-bold;
  position: relative;
z-index: 2;
}
footer p,
footer li a {
  font-size: 1.4rem !important;
  color: #acc5db;
}
.footer-social-icons {
  margin-top: 5.5rem;
}
.footer-social-icons li a {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.footer-social-icons li a i {
  font-size: 2rem;
  color: white;
}
.footer-social-icons li a {
  background: #4e6e8a;
}
/* --End-Footer-section-- */


/* -- Start-Contact-Screen -- */
.contact-info-container {
  padding: 3rem;
  margin-bottom: 1rem;
  background: var(--color-primary);
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}
.gt_contact_us_field input[type="text"],
.gt_contact_us_field input[type="email"],
.gt_contact_us_field textarea {
  float: left;
  width: 100%;
  border: 1px solid rgba(127, 127, 127, 0.21);
  min-height: 48px;
  margin: 0 0 20px;
  padding: 8px 40px 8px 15px;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.gt_contact_us_field textarea {
  min-height: 19rem;
  resize: none;
}
.photo-gallery-container img {
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}
.photo-gallery-container > div,
.letters-container > div{
  margin-bottom: 3rem;
  text-align: center;
}
.gt_contact_info_element_wrap {
  border-bottom: 1px solid #bababa;
}
.gt_contact_info_element_wrap a span {
  font-size: 1.7rem;
}
.gt_contact_info_element_wrap i {
  background: rgb(232 232 232);
  color: #000000;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 5.5rem;
  height: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sp-header {
  color: rgb(75, 74, 74);
  font-family: poppins-medium;
}
/* -- End-Contact-Screen -- */

/* ---------------------------- End-Other-pages ---------------------------- */


/* --Start-Responsive-- */
@media (max-width: 1200px) {
  .nav-header-area {
    background-color: #f7f7f7;
    padding: 0px 15px;
    box-shadow: none;
    text-align: center;
  }
  .navbar-light .navbar-nav li {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
  .navbar-light .navbar-nav .nav-link {
    color: var(--color-black);
    margin-right: 0 !important;
  }
}
@media (max-width: 992px) {
  .info-iframe {
    padding: unset;
  }
  .about-img-container {
    width: 23rem;
    height: 23rem;
  }
    .contact-info-container {
      margin-top: 3rem;
    }
}
@media (max-width: 767px) {
  /* --Start-global-- */
  html {
    font-size: 55%;
  }
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  section {
    padding: 5rem 0;
  }
  h1, section.heading-page .caption h2 {
    font-size: 4rem;
  }
  h2,
  .section-header h3{
    font-size: 3rem;
  }
  .mb-sm {
    margin-bottom: 4rem;
  }
  p.section-para {
    margin-bottom: 2rem;
  }
  /* --End-global-- */

  .header-top-container
    .container.d-flex.align-items-center.justify-content-between {
    justify-content: center !important;
  }
  .banner-overlay .scroll-down {
    bottom: 11rem;
  }
  #services {
    margin-top: 0;
  }
  #about {
    padding-top: 315px;
  }
  .about-img-container {
    width: 18rem;
    height: 18rem;
    padding: 3.5rem;
  }
  
  #ourSponsors .container .owl-carousel {
    padding: unset !important;
  }
  .footer-top {
    padding-bottom: 0;
    padding-top: 4rem;
  }
  .footer-social-icons {
    margin-top: unset;
  }
  .event_list {
    flex-direction: column;
    margin-bottom: 2rem;
  }
  /* -- Start-Bookstore-Screen -- */
  .book-list{
    flex-direction: column;
  }
  .book-list-content {
    width: 100%;
  }
  .book-list figure {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
  /* -- End-Bookstore-Screen -- */

  .testimonials-container .item {
    min-height: 30rem;
  }
}
/* --End-Responsive-- */
